
<script src="../js/jquery-1.11.1.min.js"></script>
<script src="../js/jquery-migrate-1.2.1.min.js"></script>
<script src="../js/jquery-ui-1.10.3.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/modernizr.min.js"></script>
<script src="../js/jquery.sparkline.min.js"></script>
<script src="../js/toggles.min.js"></script>
<script src="../js/retina.min.js"></script>
<script src="../js/chosen.jquery.min.js"></script>
<script src="../js/jquery.cookies.js"></script>

<script src="../js/flot/jquery.flot.min.js"></script>
<script src="../js/flot/jquery.flot.resize.min.js"></script>
<script src="../js/flot/jquery.flot.spline.min.js"></script>
<script src="../js/morris.min.js"></script>
<script src="../js/raphael-2.1.0.min.js"></script>

<script src="../js/jquery.validate.min.js"></script>
<script src="../js/jquery.datatables.min.js"></script>
<script src="../js/jquery.gritter.min.js"></script>
<script src="../js/custom.js"></script>
<script src="../js/admin/admin.js"></script>
<script src="../js/cropbox-min.js"></script>

<div style="text-align:center;">
    <p>Copyright &copy;2020 北大青鸟信息技术有限公司</p>
</div>