
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../images/favicon.png" type="image/png">

    <title>内容发布系统</title>

    <link href="../css/style.default.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../js/html5shiv.js"></script>
    <script src="../js/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="headerbar" >

    <a class="menutoggle"><i class="fa fa-bars"></i></a>

    <div class="header-right">
        <ul class="headermenu">
            <li>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <img src='<c:if test="${empty user.headImg}">../../images/photos/loggeduser.png</c:if>${user.headImg}' alt="" />
                        ${user.userName }
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                        <li><a href="#" data-toggle="modal" data-target="#myPhoto"><i class="glyphicon glyphicon-picture"></i> 头像上传</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-lock"></i> 修改密码</a></li>
                        <li><a href="<%=path%>/admin/loginOut.html"><i class="glyphicon glyphicon-log-out"></i> 注销</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div><!-- header-right -->
</div><!-- headerbar -->
<!-- 修改密码的模态框 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <form  id="pwdForm" action="<%=path%>/admin/userServlet.do?opr=modifyPwd" class="form-horizontal" method="post">
                <input type="hidden" name="id" id="userId" value="${user.id}"/>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="col-sm-3  control-label">原始密码<span class="asterisk">*</span></label>
                        <div class="col-sm-6 ">
                            <input type="password" id="oldpwd" name="oldpwd" placeholder="原始密码" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  control-label">新密码<span class="asterisk">*</span></label>
                        <div class="col-sm-6 ">
                            <input type="password" id="newpwd" name="newpwd" placeholder="新密码" class="form-control" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3  control-label">确认密码<span class="asterisk">*</span></label>
                        <div class="col-sm-6 ">
                            <input type="password" id="renewpwd" name="renewpwd" placeholder="请再次输入密码" class="form-control" required/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" id="pwdSubmit">保存</button>
                </div>
            </form>


        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>
<!-- 修改密码的模态框结束-->
<!-- 头像上传的模态框 -->
<div class="modal fade" id="myPhoto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">头像上传</h4>
            </div>
            <div class="modal-body">
                <div class="photoContent">
                    <div class="imageBox">
                        <div class="thumbBox"></div>
                        <div class="spinner" style="display: none"></div>
                    </div>
                    <div class="cropped">
                        <p>头像预览</p>
                        <img id="headImg" src="../../images/photos/loggeduser.png" align="absmiddle" style="width:180px;margin-top:4px;border-radius:180px;box-shadow:0px 0px 12px #7E7E7E;">
                        <p>180px*180px</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="action">
                    <div class="new-contentarea tc">
                        <a href="javascript:void(0)" class="upload-img">
                            <label for="upload-file">请先选择图片...</label>
                        </a>
                        <input type="file" class="" name="upload-file" id="upload-file" />
                    </div>
                    <input type="button" id="btnCrop"  class="Btnsty_peyton" value="完成">
                    <input type="button" id="btnZoomIn" class="Btnsty_peyton" value="+"  >
                    <input type="button" id="btnZoomOut" class="Btnsty_peyton" value="-" >
                </div>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->
<script src="../../js/jquery-1.11.1.min.js"></script>
<script src="../../js/jquery-1.11.1.min.js"></script>
<script src="../../js/jquery-migrate-1.2.1.min.js"></script>
<script src="../../js/jquery-ui-1.10.3.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/modernizr.min.js"></script>
<script src="../../js/jquery.sparkline.min.js"></script>
<script src="../../js/toggles.min.js"></script>
<script src="../../js/retina.min.js"></script>
<script src="../../js/chosen.jquery.min.js"></script>
<script src="../../js/jquery.cookies.js"></script>
<script src="../../js/flot/jquery.flot.min.js"></script>
<script src="../../js/flot/jquery.flot.resize.min.js"></script>
<script src="../../js/flot/jquery.flot.spline.min.js"></script>
<script src="../../js/morris.min.js"></script>
<script src="../../js/raphael-2.1.0.min.js"></script>
<script type="text/javascript">
    $(window).load(function() {
        var options =
            {
                thumbBox: '.thumbBox',
                spinner: '.spinner',
                imgSrc: ''
            }
        var cropper = $('.imageBox').cropbox(options);
        var img="";
        $('#upload-file').on('change', function(){
            var reader = new FileReader();
            reader.onload = function(e) {
                options.imgSrc = e.target.result;
                cropper = $('.imageBox').cropbox(options);
                getImg();
            }
            reader.readAsDataURL(this.files[0]);
            this.files = [];
        })
        $('#btnCrop').on('click', function(){
            var userId = $("#userId").val();
            var headImg = $("#headImg").attr("src");
            $.ajax({
                url:$("#rootPath").val()+"/admin/userServlet.do?opr=uploadHeadImg",
                data:{"userId":userId,"headImg":headImg},
                type:"post",
                dataType:"text",
                success:function(result){
                    if("true"==result){
                        //刷新当前页面
                        window.location.reload();
                    }else{
                        alert("上传失败！");
                    }
                }
            });
        })

        function getImg(){
            img = cropper.getDataURL();
            $("#headImg").attr("src",img);
        }
        $(".imageBox").on("mouseup",function(){
            getImg();
        });
        $('#btnZoomIn').on('click', function(){
            cropper.zoomIn();
        })
        $('#btnZoomOut').on('click', function(){
            cropper.zoomOut();
        })
    });
</script>
</body>
</html>